{
    "env": {
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaVersion": 11
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": ["error", "single"],
        "padded-blocks": 1,
        "no-underscore-dangle": 0,
        "class-methods-use-this": 0,
        "max-len": [
            "error",
            {
                "code": 9999
            }
        ],
        "object-shorthand": [
            "error",
            "properties"
        ],
        "func-names": 0,
        "import/extensions": [
            "error",
            "always"
        ],
        "no-console": 0,
        "no-plusplus": 0,
        "new-cap": 0,
        "no-continue": 0,
        "no-param-reassign": 1,
        "no-restricted-syntax": 0,
        "radix": 0,
        "operator-linebreak": [
            "error", "after"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "no-return-await": 0,
        "no-useless-escape": 0,
        "import/no-unresolved": 0,
        "guard-for-in": 0,
        "no-cond-assign": [
            "error",
            "except-parens"
        ]
    }
}
